<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 <head>
	 <title>Hello Facebook</title>
	</head>
	<body>
		<div class="container">
			<h3>My custom page</h3>

            <p>Hello, You have been authorized by facebook ::
                <strong><span th:text="${authorized}"></span></strong>
            </p>
			<p>Facebook says you are in the ::
			    <strong><span th:text="${ageRange}"></span>!</strong>
            </p>
			<p>Range group and you are a ::
			    <strong><span th:text="${gender}"></span></strong>
            </p>
		</div>
	</body>
</html>